<!DOCTYPE html>
<html>
<head>
<title><%= @title %> <%= @q %></title>
<link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header class="site-header">
<a href="/" title="My name up in lights!" class="logo"><img src="http://www.sinatrarb.com/images/logo.png">Bing Sinatra<nav class="site-nav"></a>
</header>

<body>

<div id="doc2" class="yui-t7">
   <div id="bd" role="main">
	<div class="yui-g">
             <div>
                <form id="googleform">
                <label for="q">Bing Search:</label>
                <input class="gsc-input" type="text" id="q" name="q" placeholder="" required autocomplete="off" value='<%= @q %>'/> 
                <input class="gsc-search-button" type="submit" id="send" name="send" value="Go!"/> 
               </form>
             </div> 
	</div>
      <div id="results"></div>
	</div>
</div>
<script type="text/javascript" src="js/bing.js"></script>

   <%= yield %>

   <p>Created by <a href="http://thinkphp.ro">Adrian Statescu</a></p>

</body>

</html>